<template name="registerFormModal2">
  <div class="modal fade v-center" id="registerFormModal2" tabindex="-1" role="dialog" area-labelledby="registerFormModal2" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        {{> _registerFormModalHeader2}}
        {{> _registerFormModalBody2}}
      </div>
    </div>
  </div>
</template>

<template name="_registerFormModalHeader2">
  <div class="modal-header" style="color: black;">
    <a class="close" style="color: black;" data-dismiss="modal">x</a>
    <h3>Create a Profile</h3>
  </div>
</template>

<template name="_registerFormModalBody2">
  <div class="modal-body" style="color: black;">
    <form id="registerForm2" role="form">
      <div class="form-group">
        <label for="register-fullname">Full Name</label>
        <input type="text" name="fullName" class="form-control" id="register-fullname" placeholder="Full Name" />
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary" id="register-submit">Next</button>
      </div>
    </form>
  </div>
</template>
