<template name="registerFormModal2">
  <div class="modal fade v-center" id="registerFormModal2" tabindex="-1" role="dialog" area-labelledby="registerFormModal2" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        {{> _registerFormModalHeader2}}
        {{> _registerFormModalBody2}}
      </div>
    </div>
  </div>
</template>

<template name="_registerFormModalHeader2">
  <div class="modal-header" style="color: black;">
    <a class="close" style="color: black;" data-dismiss="modal">x</a>
    <h3>Create a Profile</h3>
  </div>
</template>

<template name="_registerFormModalBody2">
  <div class="modal-body" style="color: black;">
    <form id="registerForm2" role="form">
      <div class="form-group">
        <label for="register-avatar-img">Avatar Preview</label>
        <img src="http://placehold.it/140x140" name="avatarImg" id="register-avatar-img" class="img-responsive"/>
      </div>

      <div class="form-group">
        <label for="register-avatar-url">Avatar URL</label>
        <input type="url" name="avatarUrl" class="form-control" id="register-avatar-url" placeholder="http://imgur.com/awesome_avatar.jpg" />
      </div>

      <div class="form-group">
        <label for="register-primary-skill">Primary Skill</label>
        <select class="form-control">
          {{> positionOptions}}
        </select>
      </div>

      <div class="form-group">
        <label for="register-headline">Headline</label>
        <input type="text" name="headline" class="form-control" id="register-headline" placeholder="MEAN Stack Developer" />
      </div>

      <div class="form-group">
        <label for="register-bio">Bio (1000 Character Limit)</label>
        <input type="textarea" name="bio" class="form-control" id="register-bio" placeholder="I am an amazing individual with reputable skills." />
      </div>

      <div class="form-group">
        <label for="register-personal-url">Personal Site</label>
        <input type="url" name="personalUrl" class="form-control" id="register-personal-url" placeholder="http://github.com/cool_guy" />
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary" id="register-submit">Create</button>
      </div>
    </form>
  </div>
</template>
